@import url('https://fonts.googleapis.com/css?family=Montserrat|Short+Stack');

/*

font-family: 'Montserrat', sans-serif;
font-family: 'Short Stack', cursive;


*/

:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
