@import url('https://fonts.googleapis.com/css?family=Montserrat|Short+Stack');

/*

font-family: 'Montserrat', sans-serif;
font-family: 'Short Stack', cursive;


*/

:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container{
  width: 90%
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
    font-family: 'Short Stack', cursive;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: #333 solid 2px;
    padding: 0 0.5rem;
}

nav h1 {
    font-size: 2.5rem;
    display: inline;
}

nav.nav__logo {
    display: inline;
    text-align: left;
}

nav ul {
    color: #1A1922;
}

nav ul li {
    padding: 1rem 0.5rem;
    font-size: 1.1rem;
    color: #1A1922;
    list-style: none;
    text-decoration: none;
}

nav ul li a {
    color: #1A1922;
}

nav ul li a:link,
nav ul li a:visited,
nav ul li a:active {
    text-decoration: none;
    color: #1A1922;
}

header,
.about,
.classes,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50vh;
    padding: 1rem 0.5rem;
}

header h3 {
    font-size: 1.4rem;
    font-family: 'Short Stack', cursive;
}

header.header__img {
    order: -99999;
}
